page-add-case-history {
  .alert-info {
    background-color: blanchedalmond;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    margin: 10px;
    border-radius: 5px;
    p {
      margin-top: -30px;
      padding: 2px;
    }
    button {
      margin-top: -5px;
    }

  }

  @keyframes dismissing
  {
    from {
      height: 50px;
      opacity: 1.0}
    to {
      height:0;
      opacity: 0.0;
      display: none;}
  }

}
