page-doctor {
  ion-card {
    img {
      max-width: 100px;
      max-height: 130px;
      margin: 0 auto;
    }
    .img-bg {
      width: 100%;
      overflow: hidden;
      text-align: center;
      position: relative;
      padding: 5px;
    }
    ion-card-title {
      text-align: center;
      font-weight: bolder;
    }
  }
  label {
    color: #488aff;
  }

}
