page-hospital {
  ion-slides {
    height: 150px;
    width: 100%;
    ion-slide {
      position: relative;
      width: 100%;
      text-align: center;
      h2 {
        color: white;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 10%;
      }
    }
  }

}
